@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--darker);
}

:root {
    --darker: #205072;
    --dark: #329D9C;
    --green: #56C596;
    --light-green: #7BE395;
    --white: #CFF4D2;
}


body{
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.fw{
    font-weight: 500;
}

/* navbar */
.navbar{
    /* height: 100px; */
    margin: 20px 30px;
    border-radius: 10px;
    border-bottom: 4px solid var(--green);
    box-shadow: 5px 4px 5px var(--darker);
}
.nav-center{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;

}
.logo-img{
    height: 60px;
}
.left-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 40px;
    width: 20%;

}
.right-nav{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    color: var(--darker);
}

.link-hover:hover{
    transform: scale(1.2);
}

/* home page */
.main {
    background-image: url('/src/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.head-quote{
    padding: 15%;
    color: var(--darker);
    font-size: 3.1vw;
}
.quote-author{
    position: relative;
    padding-left: 30vw;
    font-size: 2.6vw;
}
.home-container{
    margin: 5% 10% ;
}
.search-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}
.search-input{
    width: 60%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--light-green);
}
.search-btn{
    padding: 10px;
    margin-left: 10px;
    background-color: var(--white);
    color: var(--darker);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--light-green);
}
.blog-container{
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-img{
    height: 100px;
}
.blog-left{
    width: 70%;
    padding-right: 20px;
}
.blog-title{
    font-size: 24px;
    font-weight: bolder;
}
.read-more-container{
    display: flex;
    justify-content: right;
}
.read-more{    
    padding: 2px 10px;
    border: 2px solid var(--light-green);
    border-radius: 5px;
}




/* View Blog Page */
.view-page-img{
    height: 300px;
    min-width: 100%;
    object-fit: cover;
}
.view-container{
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.view-title{
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 4vw;
}
.view-content{
    text-indent: 50px;
}
.blog-function{
    padding-top: 30px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    border: 2px solid var(--green);
    padding: 10px;
    background-color: var(--white);
    color: var(--darker);
    font-weight: bold;
    border-radius: 10px;
}
.edit-btn{
    text-align: center;
}

/* Signup page */
.login-block{
    display: flex;
    justify-content: center;
    margin-top: 12%;
}
.login-form{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--darker);
    box-shadow: 0 0 10px var(--darker);
}
.text-center{
    text-align: center;
    padding-bottom: 10px;
}
.login-content{
    display: flex;
    flex-direction: column;
}
.tb{
    padding: 10px;
}
.ib{
    padding: 5px 10px;
    border-radius: 5px;
    border-color: var(--light-green);
}
.tb-login{
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
.tb-password{
    height: 70px;
    /* justify-content: space-around; */
}
.ib-btn{
    background-color: var(--white);
}

/* Create Blog */
